<div data-controller="demo"">
    <input data-target="demo.content" type="text">
    <button data-action="click->demo#pushme">按我 </button>
</div>


<div data-controller="demo"">
    <input data-target="demo.content" type="text">
    <button data-action="click->demo#pushit">按他 </button>
</div>